<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div *ngIf="errorMessage" style="color: red;" class="error-message">{{ errorMessage }}</div>

  <button  routerLink="/signup" class="btn btn-secondary">signup</button>
  <a  routerLink="/sendemail" >mot de passe oublié</a>


</div>
